html {
    width: 100%;
    height: 100%;
    background-image: url("../img/cloud3.png") !important;
}
.layui-layout-admin .layui-header{
    background-color: rgba(255,255,255,.1);
}
.layui-logo{
    padding-left: 40px;
    font-size: 35px !important;
    font-weight: 700;
    text-shadow:6px 6px rgba(120,255,174,.8);
    text-decoration:blink;
    color: #000 !important;
}
.layui-footer {
    padding: 10px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
}
.layui-footer button,
.position_fixed button{
    height: 60px;
    padding: 0;
    background-color: rgb(227,240,249);
    color: rgb(82,160,227);
    font-weight: 700;
    font-size: 30px;
    border-radius: 10px;
}
.layui-footer button{
    border: 1px dashed #78ffae;
    padding:0 10px
}
.layui-footer button:nth-child(1){
    background-color: rgb(223,77,153);
}
.layui-footer button:nth-child(2){
    background-color: rgb(181,228,37);
}
.layui-footer button:nth-child(3){
    background-color: rgb(233,204,0);
}
.layui-body {
    position: relative;
}

.position_fixed {
    /*height: 50%;*/
    background-color: rgba(213,184,134,.1);
    position: absolute;
    top:20%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 0 10px;
}
.position_fixed button{
    width: 60px !important;
    margin: 0 0 20px;
    border: 3px solid rgb(107,174,230);
}
.position_fixed button:nth-child(1){
    margin-left: 9px;
}
.floor_img{
    padding-top:20px;
}
.nav_1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_1_datils{
    height: 100%;
    color: rgb(149,150,150);
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
    line-height: 40px;
    letter-spacing: 5px;

}
.nav_1_datils p{
    text-indent: 30px;
}
